
<div class="content">
  <%= form_for(question) do |f| %>

    <% if question.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <span><b> Error - </b> </span>
          <ul>
          <% question.errors.messages.values.each do |message| %>
            <% message.each do |m| %>
              <li><%= m %></li>
            <% end %>
          <% end %>
          </ul>
        </div> 
      </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="field">
                  <label>Pregunta <strong class="form-label">*</strong></label>
                  <%= f.text_area :question, placeholder: "¿Agregar pregunta?", class: "form-control border-input" %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="field">
                  <label>Respuesta <strong class="form-label">*</strong></label>
                  <%= f.text_area :answer, placeholder: "Responder pregunta.", class: "form-control border-input" %>
                </div>
            </div>
        </div>
    </div>

    <div class="actions text-center">
      <%= f.submit "Guardar", class: "btn btn-info btn-fill btn-wd" %>
    </div>

  <% end %>
</div>
