<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
              
            </div>
            <div class="content">
                <div class="author">
                
                  <h4 class="title"><%= current_user.name %> <%= current_user.lastname %><br />
                      <a href="#"><small><%= current_user.email %></small></a>
                  </h4>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div class="header">
                <h4 class="title">Redes Sociales</h4>
            </div>
            <div class="content">
              
              <%= render template: "social_networks/index" %>

            </div>
        </div> -->
      </div>
      <div class="col-lg-8 col-md-7">
          <div class="card">
              <div class="header">
                  <h4 class="title">Perfil</h4>
              </div>
              <div class="content">
                  <%= form_for(profile) do |f| %>

                      <% if profile.errors.any? %>
                        <div id="error_explanation">
                          <div class="alert alert-danger">
                            <span><b> Error - </b> </span>
                            <ul>
                            <% profile.errors.messages.values.each do |message| %>
                              <% message.each do |m| %>
                                <li><%= m %></li>
                              <% end %>
                            <% end %>
                            </ul>
                          </div> 
                        </div>
                      <% end %>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="field">
                                    <label>Nombre</label>
                                    <%= f.text_field :name, value: current_user.name,
                                      class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="field">
                                    <label>Apellido</label>
                                    <%= f.text_field :lastname, value: current_user.lastname, class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="field">
                                    <label>E-mail</label>
                                    <%= f.text_field :email, value: current_user.email, class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="field">
                                    <label>Teléfono</label>
                                    <%= f.text_field :phone, placeholder: "04141408941", class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="field">
                                    <label>Ciudad</label>
                                    <%= f.text_field :city, placeholder: "Caracas", class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="field">
                                    <label>País</label>
                                    <%= f.text_field :country, placeholder: "Av. Ginebra", class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <div class="field">
                                    <label>Dirección</label>
                                    <%= f.text_field :address, class: "form-control border-input" %>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="hidden">
                        <%= f.text_field :user_id, value: current_user.id %>
                      </div>

                      <div class="actions text-center">
                        <%= f.submit "Guardar", class: "btn btn-info btn-fill btn-wd" %>
                      </div>

                    <% end %>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

