
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <%= link_to "INICIO", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                INVITACIONES
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "INFANTILES", home_childish_url, class: "dropdown-item" %>
                <%= link_to "ADULTOS", home_adult_url, class: "dropdown-item" %>
                <%= link_to "BODA", home_wedding_url, class: "dropdown-item" %>
                <%= link_to "OTROS EVENTOS", home_others_url, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DETALLES Y COMPLEMENTOS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "RECUERDITOS", home_memories_url, class: "dropdown-item" %>
                <%= link_to "REGALOS DE SALIDA", home_gifts_url, class: "dropdown-item" %>
                <%= link_to "CAJITAS/BOLSITAS", home_boxes_url, class: "dropdown-item" %>
                <%= link_to "COMPLEMENTOS", home_accessories_url, class: "dropdown-item" %>
                <%= link_to "ARTICULOS DE MADERA", home_articles_url, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "IMPRIMIBLES", home_printable_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "CONTACTO", new_contact_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
