<div class="card">
  <div class="card-header-login">
    <p class="login-p">Ya tengo una cuenta</p>
  </div>
  <div class="card-body">
    <div class="form">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="field">
          <label>E-mail<strong class="form-label">*</strong></label>
          <%= f.email_field :email, { :class => "form-input" }%>
        </div>

        <div class="field">
          <label>Contraseña<strong class="form-label">*</strong></label>
          <%= f.password_field :password, { :class => "form-input", autocomplete: "off" }  %>
        </div>
        <br>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <label>Recordarme</label>
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>
        <br>
        <div class="actions text-center">
          <%= f.submit "Acceder", :class => "btn btn-primary" %>
        </div>
      <% end %>

      <br>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>