<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @social_network.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @social_network.type %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @social_network.profile %>
</p>

<%= link_to 'Edit', edit_social_network_path(@social_network) %> |
<%= link_to 'Back', social_networks_path %>
