  <div class="content">
      <%= form_for gallery_image, html: { multipart: true } do |f| %>
          <% if gallery_image.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <span><b> Error - </b> </span>
                <ul>
                <% gallery_image.errors.messages.values.each do |message| %>
                  <% message.each do |m| %>
                    <li><%= m %></li>
                  <% end %>
                <% end %>
                </ul>
              </div> 
            </div>
          <% end %>

          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <div class="field">
                      <label>Seleccionar Imágenes <strong class="form-label">*</strong></label>
                      <%= f.file_field :image %>
                    </div>
                  </div>
              </div>
          </div>

          <div class="hidden">
            <%= f.text_field :gallery_id, value: @galleries.id %>
          </div>

          <div class="actions text-center">
            <%= f.submit "Guardar", class: "btn btn-info btn-fill btn-wd" %>
          </div>

        <% end %>
  </div>
