<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Galeria</h4>
            <p class="category">Las imágenes de cada una de las categorías</p>
          </div>
          <div class="content table-responsive table-full-width">
            <%if @galleries.empty?  %>
              <div class="alert alert-warning">
                  <span><b> Alerta - </b> No existen imágenes</span>
              </div>
            <% else %>

            <div class="content">
              <div class="row">
                <% @galleries.each do |gallery| %>
                  <div class="col-xs-4">
                    <div class="card">

                        <div id="carouselExampleControls<%= gallery.id %>" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <% @gallery_images.where(:gallery_id => gallery.id).each_with_index do |i, index| %>

                              <% if index == 0 %>
                                <div class="carousel-item active">
                                  <%= image_tag(i.image.url, class: "carousel-gallery") %> 
                                </div>
                              <% else %>
                                <div class="carousel-item">
                                  <%= image_tag(i.image.url, class: "carousel-gallery") %> 
                                </div>
                              <% end %>
                      
                            <% end %>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls<%= gallery.id %>" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls<%= gallery.id %>" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
           

                      <div class="card-body">
                        <h4 class="card-title">Modelo: <%= gallery.model %></h4>
                        <!-- <p class="card-text">
                          <%= gallery.status %>
                        </p> -->
                         <%= link_to 'Show', gallery, class: "btn btn-info btn-fill" %>
                         <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: '¿Desea eliminar la galeria?' }, class: "btn btn-info btn-fill" %>
                      </div>
                    </div>
                  </div>
                
                <% end %>

              </div>
            </div>
            
            <% end %>
            <%= link_to 'New Gallery', new_gallery_path, class: "btn btn-info btn-fill btn-wd" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
