<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @gallery.image.each_with_index do |i, index| %>
  	<%= image_tag(i.url) %>
  	<%= link_to "Delete", gallery_image_path(@gallery, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
  <% end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @gallery.status %>
</p>

<p>
  <strong>Model:</strong>
  <%= @gallery.model %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
