<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
              <h4 class="title">Datos de la Galeria</h4>
          </div>
          <div class="content">
              <ul class="list-unstyled team-members">
                <li>
                    <div class="row">
                        <div class="col-xs-4">
                            Modelo
                            <br />
                            <span class="text-primary"><small> <%= @gallery.model.name %></small></span>
                        </div>
                    </div>
                </li>

                <%if @gallery_images.empty? || @gallery_images == nil %>
	              <div class="alert alert-warning">
	                  <span><b> Alerta - </b> No existen imágenes</span>
	              </div>
	            <% else %>
	                <%= @gallery_images.each_with_index do |i, index| %>
		                <li>
		                    <div class="row">
		                        <div class="col-xs-4">
		                          <%= image_tag(i.image.url, size: "100x100") %>
		                          <%= link_to 'Destroy', i, method: :delete, data: { confirm: '¿Desea eliminar la imagen?' } %>
		                        </div>
		                    </div>
		                </li>
		            <% end %>
	            <% end %>
                <li>
                    <div class="row">
                    	<div class="col-xs-6">
                            <%= link_to 'Agregar Imagen', {:controller => "gallery_images", :action => "new", :id_gallery => @gallery.id }, class: "btn btn-info btn-fill" %>
                        </div> 

                        <div class="col-xs-6">
                            <%= link_to 'Back', galleries_path, class: "btn btn-info btn-fill" %>
                        </div>
                    </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

