
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Categorias</h4>
            <p class="category">Las diferentes categorias que tiene un evento</p>
          </div>
          <div class="content table-responsive table-full-width">
            <%if @categories.empty?  %>
              <div class="alert alert-warning">
                  <span><b> Alerta - </b> No existen categorias</span>
              </div>
            <% else %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Evento</th>
                    <th colspan="3">Acción</th>
                  </tr>
                </thead>

                <tbody>
                  <% @categories.each do |category| %>
                    <tr>
                      <td><%= category.name %></td>
                      <td><%= category.description %></td>
                      <td><%= category.event.name %></td>
                      <td><%= link_to 'Show', category, class: "btn btn-info btn-fill" %></td>
                      <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-info btn-fill" %></td>
                      <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-fill" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
             <% end %> 
            <%= link_to 'New Category', new_category_path, class: "btn btn-info btn-fill" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
