<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
              <h4 class="title">Datos de la Categoría</h4>
          </div>
          <div class="content">
              <ul class="list-unstyled team-members">
                <li>
                    <div class="row">
                        <div class="col-xs-3">
                            Nombre
                            <br />
                            <span class="text-primary"><small> <%= @category.name  %></small></span>
                        </div>
                        <div class="col-xs-3">
                            Descripción
                            <br />
                            <span class="text-primary"><small> <%= @category.description %></small></span>
                        </div>
                        <div class="col-xs-3">
                            Evento
                            <br />
                            <span class="text-primary"><small> <%= @category.event.name %></small></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                    	<div class="col-xs-6">
                            <%= link_to 'Editar', edit_category_path(@category), class: "btn btn-info btn-fill" %>
                        </div>
                        <div class="col-xs-6">
                            <%= link_to 'Regresar', categories_path, class: "btn btn-info btn-fill" %>
                        </div>
                    </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>